$birus-color: rgb(23, 90, 84);
$title-color: rgb(129, 45, 42);
$word-color: rgba(207, 42, 37, 0.856);
$font-title: Arial, Helvetica, sans-serif;
$font-button: Georgia, 'Times New Roman', Times, serif;
$bc-html: rgba(197, 184, 141, 0.856);
$bc-header: rgba(137, 151, 76, 0.9);
$bc-form: rgb(230, 205, 176);